a {
    color: #04498e;
    text-decoration: none;
    word-wrap: break-word;
}
a:hover,
a:focus {
    color: #2fa4e7;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.2;
    color: #317eac;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
.h1 {
    font-size: 26px;
}

h2,
.h2 {
    font-size: 22px;
}

h3,
.h3 {
    font-size: 20px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #555555;
    background-color: #ffffff;
    padding-top: 50px;
}

.text-muted {
    color: #999999;
}

.text-primary {
    color: #2fa4e7;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #178acc;
}

.text-success {
    color:468847;
}

a.text-success:hover,
a.text-success:focus {
    color: #356635;
}

.text-info {
    color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
    color: #2d6987;
}

.text-warning {
    color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #a47e3c;
}

.text-danger {
    color: #b94a48;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #953b93;
}

.bg-primary {
    color: #fff;
    background-color: #2fa4e7;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #178acc;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #999999;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #999999;
  text-align: left;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar-default .badge {
    background-color: #fff;
    color: #2fa4e7;
}
.navbar-inverse {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}
.navbar-inverse .badge {
    background-color: #fff;
    color: #033c73;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar .navbar-nav > li > a,
.navbar-brand {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #022f5a;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #022f5a;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #022f5a;
}

.navbar-inverse .navbar-toggle {
    border-color: #022f5a;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #022f5a;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #022f5a;
}

.btn {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.btn .caret {
    border-top-color: #fff;
}
.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
}
.btn-default:hover {
    color: #555555;
}
.btn-default .caret {
    border-top-color: #555555;
}
.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
}
.btn-primary {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #178acc;
}
.btn-success {
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73a839), to(#699934));
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #59822c;
}
.btn-info {
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}
.btn-warning {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #aa4200;
}
.btn-danger {
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #9a161a;
}
.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading,
.panel-info .panel-heading,
.panel-primary .panel-title,
.panel-success .panel-title,
.panel-warning .panel-title,
.panel-danger .panel-title,
.panel-info .panel-title {
    color: #fff;
}
.panel-primary > .panel-heading .badge,
.panel-success > .panel-heading .badge,
.panel-warning > .panel-heading .badge,
.panel-danger > .panel-heading .badge,
.panel-info > .panel-heading .badge {
    background-color: #fff;
}

a.badge:hover,
a.badge:focus {
    background-color: #2fa4e7;
    text-decoration: none;
    cursor: pointer;
}

.postbox {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b, .stMainServices, .stButton, .stButton_gradient {
    box-sizing: content-box;
}

pre, pre code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.image-block {
    display: inline-block;
}

.flowr_row {
    width: 100%;
}

.tags {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    text-align: left;
}

.tags > li {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.tags > li a {
    color: #fff;
}

/* fix big picture problems */
img {
    max-width: 90%;
}
div.figure > img,
div.figure > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metadata p:before,
.postlist .listdate:after,
.translationslist p:before {
    content: " — ";
}

.metadata p:first-of-type:before,
.translationslist p:first-of-type:before {
    content: "";
}

.metadata p,
.translationslist p {
    display: inline;
}

.metadata {
    margin-bottom: 0;
}

.metadata .author {
    display: inline-block;
    margin-right: 10px;
}

.metadata .author a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\f007";
    margin-right: 5px;
}

.metadata .author a:hover {
    text-decoration: none;
}

.metadata .date {
    display: inline-block;
    margin-right: 10px;
}

.metadata .date a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\f017";
    margin-right: 0;
}

.metadata .date a:hover {
    text-decoration: none;
}

.metadata .source {
    display: inline-block;
    margin-right: 10px;
}

.metadata .source a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\f0ed";
    margin-right: 5px;
}

.metadata .source a:hover {
    text-decoration: none;
}

.metadata .link {
    display: inline-block;
    margin-right: 10px;
}

.metadata .link a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\f0c1";
    margin-right: 5px;
}

.metadata .link a:hover {
    text-decoration: none;
}

.metadata .comment {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.metadata .comment a:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    content: "\f27b";
    margin-left: 5px;
}

.metadata .comment a:hover {
    text-decoration: none;
}

.posttranslations h3, .translationslist h3 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}

.posttranslations h3:last-child, .translationslist h3:last-child {
    display: none;
}

.entry-content {
    margin-top: 1em;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-brand #blog-title {
    padding: 15px 0;
    display: inline-block;
}

.navbar-brand #logo {
    max-width: 100%;
}

.navbar-brand>img {
    display: inline;
}

@media (max-width: 767px) {
    .navbar .dropdown-header {
        color: #fff;
    }
    .navbar .dropdown-menu a {
        color: #fff;
    }
}

.row {
    margin: 0;
}

/* for alignment with Bootstrap's .entry-content styling */
.entry-summary {
    margin-top: 1em;
}

/* Custom page footer */
#footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.codetable {
    table-layout: fixed;
}

p.more {
    margin-bottom: 40px;
}

/* Sidebar modules for boxing content */
.sidebar {
    z-index: 1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    .navbar .dropdown-header {
        color: #fff;
    }
    .navbar .dropdown-menu a {
        color: #fff;
    }
}

/* hat tip bootstrap/html5 boilerplate */
@media print {
    *, *:before, *:after {
        font-family: Garamond, Junicode, serif;
    }

    body {
        font-size: 12pt;
    }

    article .entry-title a[href]:after,
    article .metadata a[href]:after,
    article .tags a[href]:after {
        content: "";
    }

    article .metadata .source {
        display: none;
    }

    article .metadata .linkline a[href]:after {
        content: " (" attr(href) ")";
    }

    .navbar {
        display: none;
    }
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

