## -*- coding: utf-8 -*-
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="html_title(post)">
%if title and not post.meta('hidetitle'):
  <h1 class="p-name entry-title" itemprop="headline name">${post.title()|h}</h1>
%endif
</%def>

<%def name="html_translations(post)">
    % if len(post.translated_to) > 1:
        <div class="posttranslations translations">
            <h3 class="posttranslations-intro">${messages("Also available in:")}</h3>
            % for langname in sorted(translations):
                % if langname != lang and post.is_translation_available(langname):
                <p><a href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></p>
                % endif
            % endfor
        </div>
    % endif
</%def>

<%def name="html_source(post)">
  % if show_sourcelink:
    <div class="source blur-1">
      <a href="${post.source_link()}" class="sourcelink">${messages("Source")}</a>
    </div>
  % endif
</%def>

<%def name="html_tags(post)">
  % if post.tags:
    <div class="tags blur-2">
    <ul itemprop="keywords">
      % for tag in post.tags:
      % if tag not in hidden_tags:
        <li><a class="tag p-category" href="${_link('tag', tag)}" rel="tag">${tag|h}</a></li>
      % endif
      % endfor
    </ul>
    </div>
  % endif
</%def>

<%def name="html_author(post)">
  % if not post.author() == blog_author:
    <div class="author blur-1">
    % if author_pages_generated:
      <a href="${_link('author', post.author())}">${post.author()|h}</a>
    % else:
      ${post.author()|h}
    % endif
    </div>
  % endif
</%def>

<%def name="html_date(post)">
  <div class="date blur-1">
    <time class="published dt-published" datetime="${post.formatted_date('webiso')}" itemprop="datePublished" title="${post.formatted_date('YYYY-MM-dd HH:mm')|h}">${post.formatted_date(date_format)|h}
    </time>
  </div>
</%def>

<%def name="html_link(post)">
   % if post.meta('link'):
     <div class="link blur-1">
       <a href="${post.meta('link')}">${messages("Original site")}</a>
     </div>
   % endif
</%def>

<%def name="html_comment(post)">
  % if not post.meta('nocomments') and site_has_comments:
    <div class="comment blur-1">
      ${comments.comment_link(post.permalink(), post._base_path)}
    </div>
  % endif
</%def>

<%def name="html_post_header()">
  <header>
    ${html_title(post)}
    <div class="metadata">
      ${html_author(post)}
      ${html_date(post)}
      ${html_source(post)}
      ${html_link(post)}
      ${html_tags(post)}
      ${html_translations(post)}
    </div>
  </header>
</%def>
